.index {
    background-image:url(assets/nasaoffice.webp);
    background-repeat: no-repeat;
    background-size:cover;
  }
.part1{
  background-image:url(assets/outview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
div{
    margin-top: 1cm;
    border-color: black;
    text-align: center;
    background:rgba(0, 0, 0, 0.5);
  }
  h1 {
    text-align: center;
    color: aquamarine;
  }
  .edd {
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:red;
  }
  .aze{
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:green;
  }
  .nia{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:yellow; 
  }
  .tea{
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(38, 114, 255);
  }
  .marisco{
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 0, 255);
  }
  .nt{
    font-size:large;
    color:white;
    font-family: fantasy;
  }